

body {
  margin: 0;
  align-content: center;
}

.sb-title {
  position: relative;
  top: -12px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.sb-title-icon {
  position: relative;
  top: -5px;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 67vw;
  padding: 0 1em 0 1em;
  margin-left: 5vw;
  height:20vh;

 
}

.panel {
  background: white;
  width: 67vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.half-input-container {
  display: flex;
  justify-content: space-between;
}

.half-input {
  max-width: 150px;
}

h2 {
  margin: 0;
  font-family: Roboto, sans-serif;
}

input {
  height: 30px;
}

input {
  border: 0;
  border-bottom: 1px solid black;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
}

input:focus::placeholder {
  color: white;
}



.mapContainer{
  width:73vw;
  height:60vh;
  margin-left: 5vw;
  margin-bottom:10vh;
  
}

.mapBorder{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.addressMap{
  display:flex;
  flex-direction: column;
  justify-content: center;

}

.title{
  font-family: 'Raleway', sans-serif;
  color:rgb(22, 92, 22);
}

.search{
  margin-left: 1em;
  margin-bottom: .5em;
}

@media screen and (min-width: 510px) {
  .card-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 0 1em 0 1em;
    margin-left: 5vw;
  
   
  }
  
  .panel {
    background: white;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


